<div class="flex-container">
  <div class="flex-item">
    <a href="http://blog.naver.com/tourvancity" target="_blank">
      <div class="flex-link">
        <img src="assets/img/naver-blog-logo.jpg" alt="Naver Blog Logo">
        <span>Blog</span>
      </div>
    </a>
  </div>
  <div class="flex-item">
    <a href="https://cafe.naver.com/canoreaedu" target="_blank">
      <div class="flex-link">
        <img src="assets/img/naver-cafe-logo.jpg" alt="Naver Cafe Logo">
        <span>Cafe</span>
      </div>
    </a>
  </div>
  <div class="flex-item">
    <a href="https://www.instagram.com/canorea_edu" target="_blank">
      <div class="flex-link">
        <img src="assets/img/instagram-logo.jpg" alt="Instagram Logo">
        <span>Instagram</span>
      </div>
    </a>
  </div>
  <div class="flex-item">
    <!-- should use target="_blank" ? -->
    <a href="http://qr.kakao.com/talk/FaVvfeepxDf27OGex47jF4Sy0eY-">
      <!-- <a href="mailto:canorea.janice@gmail.com"> -->
      <div class="flex-link">
        <img src="assets/img/kakaotalk-logo.jpg" alt="Kakaotalk Logo">
        <span>상담문의</span>
      </div>
    </a>
  </div>
</div>
