@import 'src/variables';

.flex-container {
  display: flex;
  flex-direction: row;
  background-color: #e2afa2;

  .flex-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    // border: 2px solid black;

    a {
      display: block;
      padding: 0.2rem 0;
      // border: 1px solid red;

      .flex-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        svg {
          width: 1.2rem;
          height: 1.2rem;
        }

        span {
          font-size: 0.8rem;
          padding: 0;
        }
      }
    }
  }
}

@media screen and (min-width: $width-md) {
  .flex-container {
    flex-direction: column;

    position: sticky;
    top: 5rem;

    .flex-item {
      width: 100%;
      flex-direction: row;

      a {
        .flex-link {
          flex-direction: row;

          span {
            font-size: 1rem;
            padding-left: 0.6rem;
          }
        }
      }
    }
  }
}
