@import 'src/variables';

.flex-container {
  display: flex;
  flex-direction: row;
  background-color: #e2afa2;
  height: 3.3rem;

  .flex-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    // border: 2px solid black;

    a {
      display: block;
      padding-top: 0.2rem;
      // border: 1px solid red;

      .flex-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 25%; // or 50% (circle) ?
        }

        span {
          font-size: 0.8rem;
          padding: 0;
        }
      }
    }
  }
}

@media screen and (min-width: $width-md) {
  .flex-container {
    flex-direction: column;
    height: auto;

    position: sticky;
    top: 5rem;

    .flex-item {
      width: 100%;
      flex-direction: row;
      justify-content: start;
      padding-left: 1rem;

      a {
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;

        .flex-link {
          flex-direction: row;

          span {
            font-size: 1rem;
            padding-left: 0.6rem;
          }
        }
      }
    }
  }
}
