<!-- <div class="container-fluid navbar navbar-light sticky-top">
  <div class="row m-md-auto">
    <div class="col-md-2">
      <a [routerLink]="['/']">
        <img src="assets/img/canorea-logo.jpg" width="79" height="79" alt="Canorea Logo">
      </a>
      <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle Navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="col-md-10 navbar-collapse" id="navbarSupportedContent">
      <div class="row">
        <div class="col-md-2 offset-md-8">
          <a class="nav-link" [routerLink]="['/register']">Register</a>
        </div>
        <div class="col-md-2">
          <a class="nav-link" [routerLink]="['/login']">Login</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <a class="nav-link" [routerLink]="['/#']">Menu</a>
        </div>
        <div class="col-md-2">
          <a class="nav-link" [routerLink]="['/#']">Menu</a>
        </div>
        <div class="col-md-2">
          <a class="nav-link" [routerLink]="['/#']">Menu</a>
        </div>
        <div class="col-md-2">
          <a class="nav-link" [routerLink]="['/#']">Menu</a>
        </div>
        <div class="col-md-2">
          <a class="nav-link" [routerLink]="['/#']">Menu</a>
        </div>
        <div class="col-md-2">
          <a class="nav-link" [routerLink]="['/#']">Menu</a>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- https://www.codeply.com/go/PqIBtz3HPL -->
<nav class="navbar navbar-expand-md navbar-dark">
  <!-- Brand -->
  <div class="navbar-brand" data-toggle="collapse" data-target=".navbar-collapse.show">
    <a class="nav-link" [routerLink]="['/']">
      <img src="assets/img/canorea-logo.jpg" width="80" height="80" alt="Canorea Logo">
    </a>
  </div>

  <!-- Toggler/collapsible Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle Navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <!-- should use ngIf -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- navbar-nav ? -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2 offset-md-8" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link" [routerLink]="['/register']">Register</a>
        </div>
        <div class="col-md-2" data-toggle="collapse" data-target=".navbar-collapse.show"
          *ngIf="!userService.isUserLoggedIn">
          <a class="nav-link" [routerLink]="['/login']">Login</a>
        </div>
        <div class="col-md-2" data-toggle="collapse" data-target=".navbar-collapse.show"
          *ngIf="userService.isUserLoggedIn">
          <a class="nav-link" (click)="userService.logout()">Logout</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <a class="nav-link c-dropdown-toggle" data-toggle="collapse" data-target="#dropdown-menu-1"
            aria-controls="dropdown-menu-1" aria-expanded="false" aria-label="Toggle Dropdown">
            캐노리아
          </a>
          <div class="collapse navbar-collapse c-dropdown-menu" id="dropdown-menu-1">
            <div data-toggle="collapse" data-target=".navbar-collapse.show">
              <a class="nav-link" [routerLink]="['/page', 'about']">소개</a>
            </div>
            <!-- <div data-toggle="collapse" data-target=".navbar-collapse.show">
              <a class="nav-link" [routerLink]="['/boards/1']">Board1(나중에지움)</a>
            </div> -->
          </div>
        </div>
        <div class="col-md-2">
          <a class="nav-link c-dropdown-toggle" data-toggle="collapse" data-target="#dropdown-menu-2"
            aria-controls="dropdown-menu-2" aria-expanded="false" aria-label="Toggle Dropdown">
            조기유학
          </a>
          <div class="collapse navbar-collapse c-dropdown-menu" id="dropdown-menu-2">
            <div data-toggle="collapse" data-target=".navbar-collapse.show">
              <a class="nav-link" [routerLink]="['/page', 'student-intro']">소개</a>
            </div>
            <div data-toggle="collapse" data-target=".navbar-collapse.show">
              <a class="nav-link" [routerLink]="['/page', 'student']">학생유학</a>
            </div>
            <div data-toggle="collapse" data-target=".navbar-collapse.show">
              <a class="nav-link" [routerLink]="['/page', 'parent']">부모동반유학</a>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <a class="nav-link c-dropdown-toggle" data-toggle="collapse" data-target="#dropdown-menu-3"
            aria-controls="dropdown-menu-3" aria-expanded="false" aria-label="Toggle Dropdown">
            어학연수
          </a>
          <div class="collapse navbar-collapse c-dropdown-menu" id="dropdown-menu-3">
            <div data-toggle="collapse" data-target=".navbar-collapse.show">
              <a class="nav-link" [routerLink]="['/page', 'language-school']">어학원</a>
            </div>
            <div data-toggle="collapse" data-target=".navbar-collapse.show">
              <a class="nav-link" [routerLink]="['/page', 'upp']">대학진학과정 (UPP)</a>
            </div>
            <div data-toggle="collapse" data-target=".navbar-collapse.show">
              <a class="nav-link" [routerLink]="['/page', 'co-op']">Co-op program</a>
            </div>
            <div data-toggle="collapse" data-target=".navbar-collapse.show">
              <a class="nav-link" [routerLink]="['/page', 'esl']">일반영어 (ESL)</a>
            </div>
            <div data-toggle="collapse" data-target=".navbar-collapse.show">
              <a class="nav-link" [routerLink]="['/page', 'camp']">캠프 (여름/겨울)</a>
            </div>
          </div>

        </div>
        <div class="col-md-2">
          <a class="nav-link c-dropdown-toggle" data-toggle="collapse" data-target="#dropdown-menu-4"
            aria-controls="dropdown-menu-4" aria-expanded="false" aria-label="Toggle Dropdown">
            대학프로그램
          </a>
          <div class="collapse navbar-collapse c-dropdown-menu" id="dropdown-menu-4">
            <div data-toggle="collapse" data-target=".navbar-collapse.show">
              <a class="nav-link" [routerLink]="['/page', '']">(아직빈칸)</a>
            </div>
            <div data-toggle="collapse" data-target=".navbar-collapse.show">
              <a class="nav-link" [routerLink]="['/page', '']">(아직빈칸)</a>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <a class="nav-link c-dropdown-toggle" data-toggle="collapse" data-target="#dropdown-menu-5"
            aria-controls="dropdown-menu-5" aria-expanded="false" aria-label="Toggle Dropdown">
            자녀무상교육
          </a>
          <div class="collapse navbar-collapse c-dropdown-menu" id="dropdown-menu-5">
            <div data-toggle="collapse" data-target=".navbar-collapse.show">
              <a class="nav-link" [routerLink]="['/page', 'education-intro']">소개</a>
            </div>
            <div data-toggle="collapse" data-target=".navbar-collapse.show">
              <a class="nav-link" [routerLink]="['/page', '']">몬트리올</a>
            </div>
            <div data-toggle="collapse" data-target=".navbar-collapse.show">
              <a class="nav-link" [routerLink]="['/page', '']">할리팩스</a>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <a class="nav-link c-dropdown-toggle" data-toggle="collapse" data-target="#dropdown-menu-6"
            aria-controls="dropdown-menu-6" aria-expanded="false" aria-label="Toggle Dropdown">
            관련교육기관
          </a>
          <div class="collapse navbar-collapse c-dropdown-menu" id="dropdown-menu-6">
            <div>
              <!-- <div data-toggle="collapse" data-target=".navbar-collapse.show"> -->
              <a class="nav-link c-dropdown-toggle" data-toggle="collapse" data-target="#dropdown-menu-6-1"
                aria-controls="dropdown-menu-6-1" aria-expanded="false" aria-label="Toggle Dropdown">
                공립교육청
              </a>
              <div class="collapse navbar-collapse c-dropdown-menu" id="dropdown-menu-6-1">
                <div data-toggle="collapse" data-target=".navbar-collapse.show">
                  <a class="nav-link" [routerLink]="['/page', 'school-bc']">BC주</a>
                </div>
                <div data-toggle="collapse" data-target=".navbar-collapse.show">
                  <a class="nav-link" [routerLink]="['/page', 'school-on']">ON주</a>
                </div>
                <div data-toggle="collapse" data-target=".navbar-collapse.show">
                  <a class="nav-link" [routerLink]="['/page', 'school-ab']">AB주</a>
                </div>
                <div data-toggle="collapse" data-target=".navbar-collapse.show">
                  <a class="nav-link" [routerLink]="['/page', 'school-sk']">SK주</a>
                </div>
                <div data-toggle="collapse" data-target=".navbar-collapse.show">
                  <a class="nav-link" [routerLink]="['/page', 'school-mb']">MB주</a>
                </div>
                <div data-toggle="collapse" data-target=".navbar-collapse.show">
                  <a class="nav-link" [routerLink]="['/page', 'school-qc']">QC주</a>
                </div>
                <div data-toggle="collapse" data-target=".navbar-collapse.show">
                  <a class="nav-link" [routerLink]="['/page', 'school-ns']">NS주</a>
                </div>
              </div>
            </div>
            <!-- <div data-toggle="collapse" data-target=".navbar-collapse.show">
              <a class="nav-link" [routerLink]="['/']">사립학교</a>
            </div> -->
            <div>
              <!-- <div data-toggle="collapse" data-target=".navbar-collapse.show"> -->
              <a class="nav-link c-dropdown-toggle" data-toggle="collapse" data-target="#dropdown-menu-6-2"
                aria-controls="dropdown-menu-6-2" aria-expanded="false" aria-label="Toggle Dropdown">
                사립학교
              </a>
              <div class="collapse navbar-collapse c-dropdown-menu" id="dropdown-menu-6-2">
                <div data-toggle="collapse" data-target=".navbar-collapse.show">
                  <a class="nav-link" [routerLink]="['/page', 'private']">명문사립학교</a>
                </div>
                <div data-toggle="collapse" data-target=".navbar-collapse.show">
                  <a class="nav-link" [routerLink]="['/page', 'private-international']">국제사립학교</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <ul class="navbar-nav"> -->
    <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
    <!-- data-toggle and data-target collapses on click: study this later -->
    <!-- <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" [routerLink]="['/register']">Register</a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show"
        *ngIf="!userService.isUserLoggedIn">
        <a class="nav-link" [routerLink]="['/login']">Login</a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show"
        *ngIf="userService.isUserLoggedIn">
        <a class="nav-link" (click)="userService.logout()">Logout</a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" [routerLink]="['/boards/1']">Board #1</a>
      </li> -->
    <!-- <li class="nav-item">
        <a class="nav-link">Dropdown 1</a>
        <ul class="dropdown">
          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link">Item 1</a>
          </li>
          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link">Item 2</a>
          </li>
          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link">Item 3</a>
          </li>
        </ul>
      </li> -->
    <!-- </ul> -->
  </div>
</nav>
