// background-color: #bc3a2c;
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-template-rows: 30px 60px;
  grid-template-areas: "empty empty empty empty empty . .";
  background-color: #bc3a2c;
  // justify-content: center;
  // align-items: center;
  // justify-items: center;

  .grid-item {
    border: 1px solid black;
    text-align: center;
    line-height: 60px;
    // align-content: center;

    &.empty {
      grid-area: empty;
    }

    &.empty,
    &.register,
    &.login {
      line-height: 30px;
    }

    a {
      // display: block;
      color: #f3eded;
      text-decoration: none;
      // align-content: space-around;
      // text-align: center;
    }
  }
}
