<div class="grid-container">
  <div class="grid-item empty"></div>
  <div class="grid-item register">
    <a href="/register">Register</a>
  </div>
  <div class="grid-item login">
    <a href="/login">Login</a>
  </div>
  <div class="grid-item logo">
    <a href="/">
      <img src="assets/img/canorea-logo.png" width="58" height="58" alt="Canorea Logo">
    </a>
  </div>
  <div class="grid-item">
    <a href="">캐노리아</a>
  </div>
  <div class="grid-item">
    <a href="">조기유학</a>
  </div>
  <div class="grid-item">
    <a href="">어학연수</a>
  </div>
  <div class="grid-item">
    <a href="">대학프로그램</a>
  </div>
  <div class="grid-item">
    <a href="">자녀무상교육</a>
  </div>
  <div class="grid-item">
    <a href="">관련교육기관</a>
  </div>
</div>
