@import 'src/variables';

.navbar {
  padding: 0rem 1rem;
  background-color: $theme-primary;

  .navbar-toggler {
    color: $white-alpha-1;
    border-color: $white-alpha-3;
    outline-color: $white-alpha-3;
  }

  .navbar-brand {
    padding: 0;

    // Logo
    .nav-link {
      padding: inherit;
    }
  }

  .col-md-2 {
    padding: 0;

    .nav-link {
      color: $white-alpha-1;

      &:hover {
        color: $white-alpha-2;
      }
    }

    .c-dropdown-menu {
      background-color: $theme-primary-2;
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
}

// large devices (desktop)
@media screen and (min-width: $width-md) {
  .navbar {
    .col-md-2 {
      text-align: center;
      // position: relative;

      .c-dropdown-menu {
        position: absolute;
        margin: 0;
        min-width: 100%;
        background-color: $theme-primary;
        flex-direction: column;
        display: none !important;

        a {
          // text-align: center;
        }
      }

      &:hover .c-dropdown-menu {
        display: flex !important;
      }
    }
  }
}
// override bootstrap
// .navbar-dark {
//   .navbar-brand {
//     color: $navbar-dark-brand-color;

//     @include hover-focus() {
//       color: $navbar-dark-brand-hover-color;
//     }
//   }

//   .navbar-nav {
//     .nav-link {
//       color: $navbar-dark-color;

//       @include hover-focus() {
//         color: $navbar-dark-hover-color;
//       }

//       &.disabled {
//         color: $navbar-dark-disabled-color;
//       }
//     }

//     .show > .nav-link,
//     .active > .nav-link,
//     .nav-link.show,
//     .nav-link.active {
//       color: $navbar-dark-active-color;
//     }
//   }

//   .navbar-toggler {
//     color: $navbar-dark-color;
//     border-color: $navbar-dark-toggler-border-color;
//   }

//   .navbar-toggler-icon {
//     background-image: escape-svg($navbar-dark-toggler-icon-bg);
//   }

//   .navbar-text {
//     color: $navbar-dark-color;
//     a {
//       color: $navbar-dark-active-color;

//       @include hover-focus() {
//         color: $navbar-dark-active-color;
//       }
//     }
//   }
// }
