<!-- https://www.codeply.com/go/PqIBtz3HPL -->
<nav class="navbar navbar-expand-md navbar-dark">
  <!-- Brand -->
  <div class="navbar-brand" data-toggle="collapse" data-target=".navbar-collapse.show">
    <a class="nav-link" (click)="onLinkClick()" [routerLink]="['/']">
      <img src="assets/img/canorea-logo.jpg" width="80" height="80" alt="Canorea Logo">
    </a>
  </div>

  <input type="checkbox" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle Navigation">
  <div class="hamburger">
    <!-- Hamburger lines -->
    <div></div>
  </div>

  <!-- Navbar links -->
  <!-- should use ngIf -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- navbar-nav ? -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          <a class="nav-link c-dropdown-toggle" data-toggle="collapse" data-target="#dropdown-menu-1"
            aria-controls="dropdown-menu-1" aria-expanded="false" aria-label="Toggle Dropdown">
            캐노리아
          </a>
          <div class="collapse navbar-collapse c-dropdown-menu" id="dropdown-menu-1">
            <div data-toggle="collapse" data-target=".navbar-collapse.show">
              <a class="nav-link" (click)="onLinkClick()" [routerLink]="['/page', 'about']">소개</a>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <a class="nav-link c-dropdown-toggle" data-toggle="collapse" data-target="#dropdown-menu-2"
            aria-controls="dropdown-menu-2" aria-expanded="false" aria-label="Toggle Dropdown">
            조기유학
          </a>
          <div class="collapse navbar-collapse c-dropdown-menu" id="dropdown-menu-2">
            <div data-toggle="collapse" data-target=".navbar-collapse.show">
              <a class="nav-link" (click)="onLinkClick()" [routerLink]="['/page', 'student-intro']">소개</a>
            </div>
            <div data-toggle="collapse" data-target=".navbar-collapse.show">
              <a class="nav-link" (click)="onLinkClick()" [routerLink]="['/page', 'student']">학생유학</a>
            </div>
            <div data-toggle="collapse" data-target=".navbar-collapse.show">
              <a class="nav-link" (click)="onLinkClick()" [routerLink]="['/page', 'parent']">부모동반유학</a>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <a class="nav-link c-dropdown-toggle" data-toggle="collapse" data-target="#dropdown-menu-3"
            aria-controls="dropdown-menu-3" aria-expanded="false" aria-label="Toggle Dropdown">
            어학연수
          </a>
          <div class="collapse navbar-collapse c-dropdown-menu" id="dropdown-menu-3">
            <div data-toggle="collapse" data-target=".navbar-collapse.show">
              <a class="nav-link" (click)="onLinkClick()" [routerLink]="['/page', 'language-school']">어학원</a>
            </div>
            <div data-toggle="collapse" data-target=".navbar-collapse.show">
              <a class="nav-link" (click)="onLinkClick()" [routerLink]="['/page', 'upp']">대학진학과정 (UPP)</a>
            </div>
            <div data-toggle="collapse" data-target=".navbar-collapse.show">
              <a class="nav-link" (click)="onLinkClick()" [routerLink]="['/page', 'co-op']">Co-op program</a>
            </div>
            <div data-toggle="collapse" data-target=".navbar-collapse.show">
              <a class="nav-link" (click)="onLinkClick()" [routerLink]="['/page', 'esl']">일반영어 (ESL)</a>
            </div>
            <div data-toggle="collapse" data-target=".navbar-collapse.show">
              <a class="nav-link" (click)="onLinkClick()" [routerLink]="['/page', 'camp']">캠프 (여름/겨울)</a>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <a class="nav-link c-dropdown-toggle" data-toggle="collapse" data-target="#dropdown-menu-5"
            aria-controls="dropdown-menu-5" aria-expanded="false" aria-label="Toggle Dropdown">
            자녀무상교육
          </a>
          <div class="collapse navbar-collapse c-dropdown-menu" id="dropdown-menu-5">
            <div data-toggle="collapse" data-target=".navbar-collapse.show">
              <a class="nav-link" (click)="onLinkClick()" [routerLink]="['/page', 'education-intro']">소개</a>
            </div>
            <div data-toggle="collapse" data-target=".navbar-collapse.show">
              <a class="nav-link" (click)="onLinkClick()" [routerLink]="['/page', '']">몬트리올</a>
            </div>
            <div data-toggle="collapse" data-target=".navbar-collapse.show">
              <a class="nav-link" (click)="onLinkClick()" [routerLink]="['/page', '']">할리팩스</a>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <a class="nav-link c-dropdown-toggle" data-toggle="collapse" data-target="#dropdown-menu-6"
            aria-controls="dropdown-menu-6" aria-expanded="false" aria-label="Toggle Dropdown">
            관련교육기관
          </a>
          <div class="collapse navbar-collapse c-dropdown-menu" id="dropdown-menu-6">
            <div class="c-dropdown-toggle-6-1" (click)="toggleDoubleDropdown('dropdown-menu-6-1')">
              <a class="nav-link c-dropdown-toggle" data-toggle="collapse" data-target="#dropdown-menu-6-1"
                aria-controls="dropdown-menu-6-1" aria-expanded="false" aria-label="Toggle Dropdown">
                공립교육청
              </a>
              <div class="collapse navbar-collapse c-dropdown-menu" id="dropdown-menu-6-1">
                <div data-toggle="collapse" data-target=".navbar-collapse.show">
                  <a class="nav-link" (click)="onLinkClick()" [routerLink]="['/page', 'school-bc']">BC주</a>
                </div>
                <div data-toggle="collapse" data-target=".navbar-collapse.show">
                  <a class="nav-link" (click)="onLinkClick()" [routerLink]="['/page', 'school-on']">ON주</a>
                </div>
                <div data-toggle="collapse" data-target=".navbar-collapse.show">
                  <a class="nav-link" (click)="onLinkClick()" [routerLink]="['/page', 'school-ab']">AB주</a>
                </div>
                <div data-toggle="collapse" data-target=".navbar-collapse.show">
                  <a class="nav-link" (click)="onLinkClick()" [routerLink]="['/page', 'school-sk']">SK주</a>
                </div>
                <div data-toggle="collapse" data-target=".navbar-collapse.show">
                  <a class="nav-link" (click)="onLinkClick()" [routerLink]="['/page', 'school-mb']">MB주</a>
                </div>
                <div data-toggle="collapse" data-target=".navbar-collapse.show">
                  <a class="nav-link" (click)="onLinkClick()" [routerLink]="['/page', 'school-qc']">QC주</a>
                </div>
                <div data-toggle="collapse" data-target=".navbar-collapse.show">
                  <a class="nav-link" (click)="onLinkClick()" [routerLink]="['/page', 'school-ns']">NS주</a>
                </div>
              </div>
            </div>
            <div class="c-dropdown-toggle-6-2" (click)="toggleDoubleDropdown('dropdown-menu-6-2')">
              <a class="nav-link c-dropdown-toggle" data-toggle="collapse" data-target="#dropdown-menu-6-2"
                aria-controls="dropdown-menu-6-2" aria-expanded="false" aria-label="Toggle Dropdown">
                사립학교
              </a>
              <div class="collapse navbar-collapse c-dropdown-menu" id="dropdown-menu-6-2">
                <div data-toggle="collapse" data-target=".navbar-collapse.show">
                  <a class="nav-link" (click)="onLinkClick()" [routerLink]="['/page', 'private']">명문사립학교</a>
                </div>
                <div data-toggle="collapse" data-target=".navbar-collapse.show">
                  <a class="nav-link" (click)="onLinkClick()"
                    [routerLink]="['/page', 'private-international']">국제사립학교</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link" (click)="onLinkClick()" [routerLink]="['/inquiry']">문의하기</a>
        </div>
      </div>
    </div>
  </div>
</nav>
