table {
  margin-bottom: 2rem;
}

th {
  font-size: 1.8rem;
}

td,
th {
  border: 1px solid #f3c7bb;
  text-align: left;
  padding: 0.5rem;
}

tr:nth-child(even) {
  background-color: #f3c7bb;
}

a {
  color: #007bff;
  text-decoration: none;

  &:hover {
    color: #0056b3;
    text-decoration: underline;
  }
}
