.c-container {
  margin-bottom: 2rem;
  width: 100%;
}
.btn {
  background-color: #f3c7bb;
}
.c-blog {
  display: flex;

  &:nth-child(odd) {
    background-color: #f3c7bb;
  }
}
a {
  color: #007bff;
  text-decoration: none;
  padding: 0.5rem;

  &:hover {
    color: #0056b3;
    text-decoration: underline;
  }
}
