.c-container {
  margin-bottom: 2rem;
  width: 100%;
}
.btn {
  background-color: #f3c7bb;
}
a {
  color: #007bff;
  text-decoration: underline;
  padding: 0.5rem;
  border: 1px solid #dddddd;
  font-weight: bold;

  &:nth-child(odd) {
    background-color: #f3c7bb;
  }
  &:hover {
    color: #0056b3;
    text-decoration: underline;
  }
}
