@import 'src/variables';

.c-container {
  margin: 1rem;
  label {
    font-weight: bold;
  }

  .c-review {
    p {
      word-wrap: break-word;
    }
  }

  .form-control:focus {
    border-color: #e0ab87;
    box-shadow: 0 0 0 0.2rem rgba(245, 150, 62, 0.25);
  }

  .btn {
    background-color: #d35143;
    color: white;
    width: 100%;
  }
}

@media screen and (min-width: $width-md) {
  .c-container {
    .btn {
      margin-top: 0.65rem;
    }
  }
}
