@import 'src/variables';

.c-container {
  background-image: url('/assets/img/watermark-20.png');
  background-repeat: no-repeat;
  background-size: 50vw;
  background-position-x: 45vw;
  background-position-y: 63vh;
  background-attachment: fixed;

  margin: 2rem;
  .col-md {
    padding-left: 0;
    padding-right: 0;

    .c-departure-year {
      padding-bottom: 0.3rem;
    }
    .form-control:focus {
      border-color: #e0ab87;
      box-shadow: 0 0 0 0.2rem rgba(245, 150, 62, 0.25);
    }
    .visit-or-call {
      padding-left: 1rem;
    }

    .btn {
      background-color: #666;
      color: white;
      width: 100%;
    }
  }
}

@media screen and (min-width: $width-md) {
  .c-container {
    background-size: 25vw;
    background-position-x: 60vw;
    background-position-y: 45vh;

    .col-md-left {
      padding-right: 1rem;
      .c-departure-year {
        padding-right: 0.5rem;
      }
      .c-departure-month {
        padding-left: 0.5rem;
      }
    }
    .col-md-right {
      padding-left: 1rem;
      .btn {
        margin-top: 0.65rem;
      }
    }
  }
}
