@import 'src/variables';

* {
  z-index: 1;
}
.c-container {
  position: relative;
  height: 0;
  width: 100%;
  padding: 0;
  padding-bottom: 62%;
  border: 1px solid #ffffff;
}
svg {
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
  // fill: #2ec547;
  // fill: #cc786f;
  fill: url(#grad1);
  position: absolute;
  width: 100%;
  // height: 1px;
  padding-bottom: 62%;
  overflow: visible;
  height: 100%;
  left: 0;
  top: 0;
}
rect.province {
  fill: #ffffff;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
  &:focus {
    outline: none;
  }
}
text {
  display: none;
  cursor: pointer;
  stroke: none;
  fill: #000000;
  font-size: 0.22rem;
  font-weight: bold;
}
.bc:hover ~ text.bc,
.ab:hover ~ text.ab,
.sk:hover ~ text.sk,
.mb:hover ~ text.mb,
.on:hover ~ text.on,
.qc:hover ~ text.qc,
.ns:hover ~ text.ns,
text.bc:hover,
text.ab:hover,
text.sk:hover,
text.mb:hover,
text.on:hover,
text.qc:hover,
text.ns:hover {
  display: block;
}
path {
  transition: all 0.5s ease;

  // path:not(.flight):hover,
  // path.bc:hover ~ circle.bc,
  // path.ab:hover ~ circle.ab,
  // path.sk:hover ~ circle.sk,
  // path.mb:hover ~ circle.mb,
  // path.on:hover ~ circle.on {
  &:not(.flight-path):hover {
    fill: #c75a4e;
    transform: translate(-1px, -1px);
  }

  &.victoria,
  &.edmonton,
  &.regina,
  &.winnipeg,
  &.ottawa,
  &.montreal,
  &.halifax {
    stroke: #101a10;
    stroke-width: 0.5;
    fill: none;

    // transition: stroke-dashoffset 2.5s ease;
  }
  &.victoria {
    stroke-dasharray: 196;
    stroke-dashoffset: 196;
  }
  &.edmonton {
    stroke-dasharray: 169;
    stroke-dashoffset: 169;
  }
  &.regina {
    stroke-dasharray: 137;
    stroke-dashoffset: 137;
  }
  &.winnipeg {
    stroke-dasharray: 111;
    stroke-dashoffset: 111;
  }
  &.ottawa {
    stroke-dasharray: 160;
    stroke-dashoffset: 160;
  }
  &.montreal {
    stroke-dasharray: 164;
    stroke-dashoffset: 164;
  }
  &.halifax {
    stroke-dasharray: 196;
    stroke-dashoffset: 196;
  }
}

.bc:hover ~ path.victoria,
.ab:hover ~ path.edmonton,
.sk:hover ~ path.regina,
.mb:hover ~ path.winnipeg,
.on:hover ~ path.ottawa,
.qc:hover ~ path.montreal,
.ns:hover ~ path.halifax {
  // stroke-dashoffset: 0;
}

.row {
  .col-md-6 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: $width-md) {
  .row {
    .col-md-left {
      padding-right: 1rem;
    }
    .col-md-right {
      padding-left: 1rem;
    }
  }
}
// .flight {
//   stroke-dasharray: 187;
//   stroke-dashoffset: 187;
//   // transition: stroke-dashoffset 4.5s linear;
//   animation: flight 4s linear infinite;

//   // path:hover ~ & {
//   //   stroke-dashoffset: 0;
//   // }
// }
// @keyframes flight {
//   from {
//     stroke-dashoffset: 187;
//   }
//   to {
//     stroke-dashoffset: 0;
//   }
// }
// circle:hover::after {
//   content: attr(class);
// }
