/* You can add global styles to this file, and also import other style files */

@import 'src/variables';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a,
a:hover {
  text-decoration: none;
  color: #000;
  display: block;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

// Custom class similar to col-md-10, col-md-2 but different ratio
.c-col-main,
.c-col-side {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.c-col-main {
  //
}

.c-col-side {
  //
}

// Styles for static.component.scss
div#app-static-html {
  margin: 2rem;
  ul {
    margin-left: 1rem;
  }
  ul.disc {
    list-style-type: disc;
  }
  ul.dashed {
    list-style: none;
    margin-left: 0;
    padding-left: 1rem;
  }
  ul.dashed > li:before {
    display: inline-block;
    content: '-';
    width: 0.7rem;
    margin-left: -1rem;
  }

  a,
  a:hover {
    color: #007bff;
    word-wrap: break-word;
  }
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: $width-md) {
  .c-offset-side {
    margin-left: $offset-percent;
  }
  .c-col-main {
    flex: 0 0 $main-percent;
    max-width: $main-percent;
  }
  .c-col-side {
    flex: 0 0 $offset-percent;
    max-width: $offset-percent;
  }
}
