/* autoprefixer grid: autoplace /

/* You can add global styles to this file, and also import other style files */

@import 'src/variables';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a,
a:hover {
  text-decoration: none;
  color: #000;
  display: block;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

// Custom class similar to col-md-10, col-md-2 but different ratio
.c-col-main,
.c-col-side {
  position: relative;
  width: 100%;
}

.c-col-main {
  //
}

.c-col-side {
  //
}

.btn {
  &:focus {
    border-color: #e0ab87;
    box-shadow: 0 0 0 0.2rem rgba(245, 150, 62, 0.25);
  }
}
// Styles for static.component.scss
div#app-static-html {
  // background-image: url('assets/img/watermark-20.png');
  // background-repeat: no-repeat;
  // // background-position: bottom;
  // background-size: 50vw;
  // background-position-x: 45vw;
  // background-position-y: 63vh;
  // background-attachment: fixed;
  // // background-origin: content-box;
  margin: 2rem;
  &::before {
    content: '';
    display: block;
    position: fixed;
    left: 45vw;
    top: 61vh;
    width: 50vw;
    height: 50vw;
    z-index: -10;
    background: url('/assets/img/watermark-20.png');
    background-size: cover;
  }
  ul {
    margin-left: 1rem;
  }
  ul.disc {
    list-style-type: disc;
  }
  ul.dashed {
    list-style: none;
    margin-left: 0;
    padding-left: 1rem;
  }
  ul.dashed > li:before {
    display: inline-block;
    content: '-';
    width: 0.7rem;
    margin-left: -1rem;
  }

  a {
    color: #007bff;
    word-wrap: break-word;
    text-decoration: none;

    &:hover {
      color: #0056b3;
      text-decoration: underline;
    }
  }
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .flex-item {
      width: 100%;

      img {
        // school board, private
        height: 6rem;
        width: auto;
        max-width: 100%;
        margin: auto;
      }
    }
  }
}

@media screen and (min-width: $width-md) {
  .c-offset-side {
    margin-left: $offset-percent;
  }
  .c-col-main {
    flex: 0 0 $main-percent;
    max-width: $main-percent;
  }
  .c-col-side {
    flex: 0 0 $offset-percent;
    max-width: $offset-percent;
  }

  div#app-static-html {
    // background-size: 25vw;
    // background-position-x: 60vw;
    // background-position-y: 45vh;
    &::before {
      left: 60vw;
      top: 45vh;
      width: 25vw;
      height: 25vw;
    }
    .flex-container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: flex-start;

      .flex-item {
        width: 30%;
        padding-top: 2rem;
        padding-bottom: 2rem;
      }
    }
  }
}
