// Variables

$theme-primary: rgba(188, 58, 44, 1); // #bc3a2c
$theme-primary-2: #c07971;

$white-alpha-1: rgba(255, 255, 255, 0.8);
$white-alpha-2: rgba(255, 255, 255, 0.5);
$white-alpha-3: rgba(255, 255, 255, 0.2);

$width-sm: 576px;
$width-md: 768px;
$width-lg: 992px;

$offset-percent: 12%;
$main-percent: 100% - (2 * $offset-percent);
